@model SistemaCalidad.Models.Material
@section Migas{
    <li><a asp-action="Index" onclick="cargando()">Materia Prima</a></li>
    <li class="active">@ViewData["accion"] </li>
}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 margin-top-0">
        <h1 class="page-title text-align-center txt-color-blueDark">
            <b>   &nbsp;</b>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 margin-top-0">
        <ul id="sparks">
            <li class="sparks-info">
                <a class="btn btn-primary" onclick="cargando()" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well no-padding">

            <form  novalidate="novalidate" class="smart-form client-form">
                <header>
                    <b> @ViewData["accion"] Materia Prima</b>
                </header>
                @{

                    <input type="hidden" asp-for="MaterialId" />

                }
                <fieldset>
                    <section>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    </section>
                    <section class="col col-3">
                        <label class="label">C&oacute;digo  /   Colada</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="text" asp-for="CodigoIngreso" placeholder="Código">
                            <b class="tooltip tooltip-bottom-right">Ingrese el c&oacute;digo </b>
                            <span asp-validation-for="CodigoIngreso" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="label">Stock (Kg)</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="text" asp-for="StockDisponible" placeholder="Stock">
                            <b class="tooltip tooltip-bottom-right">Ingrese el stock </b>
                            <span asp-validation-for="StockDisponible" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-3">
                        <label class="label">INA    /   INZ</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="number" asp-for="Identificador" placeholder="Identificador">
                            <b class="tooltip tooltip-bottom-right">Ingrese el dentificador</b>
                            <span asp-validation-for="Identificador" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-3">
                        <label class="label">SAE</label>
                        <div class="form-group">
                            <div class="input">
                                <select asp-for="TipoNormaId" class="form-control select2 pull-right" asp-items="ViewBag.IdSAE">
                                   
                                </select>
                                
                                <span asp-validation-for="TipoNormaId" class="text-danger"></span>
                            </div>

                        </div>
                    </section>
                   
                    <div class="col-lg-12">
                        <section class="col col-lg-3">
                            <label class="label">Pa&iacute;s</label>
                            <div class="form-group">
                                <div class="input">
                                    <select asp-for="PaisId" class="form-control select2" asp-items="ViewBag.IdPais"></select>
                                    <span asp-validation-for="PaisId" class="text-danger"></span>
                                </div>
                            </div>
                        </section>
                        <section id="divT" class="col col-lg-3">
                            <label class="label">Tipo de Materia Prima</label>
                            <div class="form-group">
                                <div class="input">
                                    <select asp-for="TipoMaterialId" class="form-control select2" asp-items="ViewBag.IdTipoMaterial"></select>
                                    <span asp-validation-for="TipoMaterialId" class="text-danger"></span>
                                </div>
                            </div>
                        </section>
                        <section class="col col-lg-3">
                            <label class="label">Proveedor</label>
                            <div class="form-group">
                                <div class="input">
                                    <select asp-for="ProveedorId" class="form-control select2" asp-items="ViewBag.IdProveedor"></select>
                                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                                </div>
                            </div>
                        </section>
                        <section class="col col-lg-3">
                            <label class="label">Unidad de medida</label>
                            <label class="input">
                                <select asp-for="UnidadMedida" class="form-control select2">
                                    <option value="Unidad">Unidad</option>
                                    <option value="Rollo">Rollo</option>
                                    <option value="Rollo">Kg</option>
                                </select>
                                <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                            </label>
                        </section>


                        <section class="col col-lg-12">

                            <div id="divdtanalisis" class="row col col-lg-12" hidden="hidden">
                                <legend>Especificaciones de la Materia Prima</legend>
                                <br />
                                <div class="col-sm-12 margin-bottom-10">
                                    <div class="well  margin-top-5 margin-bottom-5">
                                        <table id="dtanalisis" class="table table-striped table-forum"></table>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="validarNormaBtn" hidden class="col col-lg-12">
                            <legend></legend>
                            <div class="col col-lg-5">

                            </div>
                            <div  class="col col-lg-5 margin-top-10">
                                <button type="button" title="Filtrar" onclick="validarNorma()" class="btn btn-primary btn-lg">
                                    <i class="fa fa-check fa-lg"></i> Validar Norma
                                </button>
                            </div>
                        </section>
                    </div>

                </fieldset>

                <footer>
                    <a id="createAnalisis" onclick="guardar()" hidden="hidden" class="btn btn-primary" title="Guardar">
                        Guardar
                    </a>
                    <a asp-action="Index" onclick="cargando()" onkeypress="" class="btn btn-default"><strong> Cancelar </strong></a>
                </footer>
            </form>

        </div>
    </div>
</div>
<!-- /.modal -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

<script type="text/javascript">
        var Aprobado = true;
        $("#createAnalisis").hide();
        var listaespecificaciones = [];
        var materialId = $("#MaterialId").val();
        $("#TipoMaterialId").change(function () {

            
                ListadoEspecificaciones();
            
    });


    function updateSAE()
    {
        if ($("#TipoNormaId").val() ==0) {
            $("#createAnalisis").show();
            $("#validarNormaBtn").hide();
        }
        else
        {
            $("#createAnalisis").hide();
            $("#validarNormaBtn").show();
        }
        return;
    }
    $("#TipoNormaId").change(function () {
        updateSAE();
    });

        function ValidarFormulario() {
            var salida = true;

            if ($("#CodigoIngreso").val() == "") {
                $("#CodigoIngreso").focus();
                salida = false;
            }
            if ($("#StockDisponible").val() == "") {
                $("#StockDisponible").focus();
                salida = false;
            }
            if ($("#Identificador").val() == "") {
                $("#Identificador").focus();
                salida = false;
            }

            return salida;
        }


        function guardar()
        {
            mostrarLoadingPanel("content", "");

            if (ValidarFormulario() == false) {
                event.preventDefault();
                $("#content").waitMe("hide");
                return;
            }
            var listaPost = [];
            for (var i = 0; i < listaespecificaciones.length; i++) {

                var valor = $("#valor_" + listaespecificaciones[i].EspecificacionId).val();
                if (valor != "") {
                    listaespecificaciones[i].ValorEspecificacion = valor;
                    listaPost.push(listaespecificaciones[i]);
                }
            }
            var CodigoIngreso = $("#CodigoIngreso").val();
            var Identificador = $("#Identificador").val();
            var TipoNormaId = $("#TipoNormaId").val();
            var StockDisponible = $("#StockDisponible").val();
            var TipoMaterialId = $("#TipoMaterialId").val();
            var UnidadMedida = $("#UnidadMedida").val();
            var PaisId = $("#PaisId").val();
            var ProveedorId = $("#ProveedorId").val();
            var MaterialId = $("#MaterialId").val();
            analisis = null;

            material = { CodigoIngreso, Identificador, TipoNormaId, StockDisponible, TipoMaterialId, UnidadMedida, PaisId, ProveedorId, MaterialId, Aprobado };


            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create")',
                dataType: 'json',
                data: { listaDetalle: listaPost, material: material, aprobado:Aprobado },
                success: function (data) {

                    if (data == -1) {
                        mostrarNotificacion("Error", "Existe una Materia Prima con el mismo Código.")
                        return;
                    }

                    if (data == 1) {
                        mostrarNotificacion("Satisfactorio", "La Materia Prima se ha insertado satisfactoriamente.");
                        location.href = '@Url.Action("Index")';
                        return;
                        
                    }

                    if (data == 0) {
                        mostrarNotificacion("Error", "La Materia Prima no se ha podido insertar.")
                    }

                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    mostrarNotificacion("Error", "El análisis no se ha podido insertar.")
                    location.href = '@Url.Action("Index")';
                }
            });
        }


        function validarNorma()
        {
            mostrarLoadingPanel("content", "");
            var listaPost = [];
            var elementos = 0;

            var combo = $("#valor_" + valor).val();
            var maximo = parseFloat($("#maximo_" + valor).text());
            var iconoCumple = "glyphicon-thumbs-up";
            var iconoNoCumple = "glyphicon-thumbs-down";
            var textocumple = "text-success";
            var textonocumple = "text-danger";


            for (var i = 0; i < listaespecificaciones.length; i++) {

                var valortotal = $("#valor_" + listaespecificaciones[i].EspecificacionId).val();
                if (valortotal != "")
                {
                    elementos++;
                }

                if ((listaespecificaciones[i].TipoEspecificacion != "Texto") )
                {
                    var valor = $("#valor_" + listaespecificaciones[i].EspecificacionId).val();
                    if (valor != "")
                    {
                        listaespecificaciones[i].ValorEspecificacion = valor;
                        listaPost.push(listaespecificaciones[i]);
                    }
                }
            }
            if (elementos == 0)
            {
                mostrarNotificacion("Error", "Debe al menos ingresar una especificación.");
                $("#content").waitMe("hide");
                return;
            }

            for (var i = 0; i < listaespecificaciones.length; i++) {
                $("#fila_" + listaespecificaciones[i].EspecificacionId).addClass(textocumple).removeClass(textonocumple);
                $("#icono_" + listaespecificaciones[i].EspecificacionId).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
            }

            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ValidarNorma")',
                dataType: 'json',
                data: { sae: $("#TipoNormaId").val(), listaDetalle: listaPost },
                success: function (data) {

                    if (data.length >= 1) {
                        Aprobado = false;
                        mostrarNotificacion("Error", "El material no cumple con el Norma seleccionada.")

                        for (var i = 0; i < data.length; i++) {
                            $("#fila_" + data[i]).addClass(textonocumple).removeClass(textocumple);
                            $("#icono_" + data[i]).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
                        }
                    }
                    else {
                        Aprobado = true;
                        mostrarNotificacion("Satisfactorio", "El material cumple con el Norma seleccionada.")
                    }

                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    mostrarNotificacion("Error", "El material no se ha podido insertar.")
                    location.href = '@Url.Action("Index")';
                }
            });

            $("#createAnalisis").show();
        }

        $(function () {

            updateSAE();
            ListadoEspecificaciones();
           
        });

        function hideGuardar()
        {
            updateSAE();
        }

        function ListadoEspecificaciones()
        {
             mostrarLoadingPanel("content", "");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListadoEspecificacionesPorMaterial")',
                dataType: 'json',
                data: { id: $("#TipoMaterialId").val() },
                success: function (data) {
                    listaespecificaciones = null;
                    $("#divdtanalisis").show();

                    listaespecificaciones = [];
                    document.getElementById("dtanalisis").innerHTML = "";
                    var newTable = "<table id=dtanalisis class=table table-striped table-forum>";
                    newTable += "<thead>";
                    newTable += "<tr>";
                    newTable += "<th class='text-center hidden-xs hidden-sm' >Descripción</th>";
                    newTable += "<th class='text-center hidden-xs hidden-sm' >Valor</th>";
                    newTable += "</tr>";
                    newTable += "</thead>";
                    newTable += "<tbody>";

                    for (var i = 0; i < data.length; i++) {

                        listaespecificaciones.push({ EspecificacionId: data[i].especificacionId, TipoEspecificacion: data[i].tipoEspecificacion, ValorEspecificacion: "" });
                        if (data[i].tipoEspecificacion == "Texto") {

                            newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-success' >";
                            newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                            newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeypress='hideGuardar()' id='valor_" + data[i].especificacionId + "' type='text' value=''></td>";
                            newTable += "</tr>";
                        }
                        else
                        {
                            if (data[i].tipoEspecificacion == "Número" || data[i].tipoEspecificacion == "Rango") {

                                newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-success' >";
                                newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeypress='hideGuardar()'  id='valor_" + data[i].especificacionId + "' type='number' value=''></td>";
                                newTable += "</tr>";

                            }
                            else {

                                newTable += "<tr id='fila_" + data[i].especificacionId + "'  class='text-success' >";
                                newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                newTable += "<td class='text-center'> <select id= 'valor_" + data[i].especificacionId + "' class='grado form-control'>";
                                newTable += " <option class='text-success' value='CUMPLE' selected='selected'>CUMPLE</option>";
                                newTable += " <option class='text-danger' value='NO CUMPLE'>NO CUMPLE</option>";
                                newTable += "</select></td> ";
                                newTable += "</tr>";
                            }
                        }

                    };
                    newTable += "</tbody>";
                    newTable += "</table>";
                    document.getElementById("dtanalisis").innerHTML = newTable;
                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });


        }
</script>
}
