@model SistemaCalidad.Models.BussinessViewModels.ProductoEspecificacionViewModel
@using SistemaCalidad.Utils
@section Migas{
    <li><a asp-action="Index" onclick="cargando()">Producto</a></li>
    <li class="active">Especificaciones </li>
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 margin-top-0">
        <h1 class="page-title text-align-center txt-color-blueDark">
            <b> Detalle de las especificaciones</b>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 margin-top-0">
        <ul id="sparks">
            <li class="sparks-info">
                <a class="btn btn-primary" onclick="cargando()" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-7 margin-top-0">
        <div class="well no-padding">
            <form asp-action="Especificaciones" method="post" novalidate="novalidate" class="smart-form client-form">
                <header>
                    <div class="row">
                        <section class="col col-lg-6">@ViewData["accion"] Adicionar especificaciones</section>

                        <section class="col col-lg-6 ">
                            <a><b class="pull-right margin-right-13" id="divTipo"> </b></a>
                        </section>
                    </div>
                   
                </header>
                <input type="hidden" asp-for="ProductoId" />
                <fieldset>
                    <section>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    </section>
                        <div class="col-lg-12">
                            <section class="col col-lg-12">
                                <label class="label">Clase</label>
                                <div class="form-group">
                                    <div class="input">
                                        <select asp-for="EspecificacionId" class="form-control select2" asp-items="ViewBag.IdEspecificacion"></select>
                                        <span asp-validation-for="EspecificacionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-12" hidden id="divNumero">
                            <section class="col col-lg-12">
                                <label class="label">Valor</label>
                                <label class="input">
                                    <i class="icon-append fa fa-pencil-square-o"></i>
                                    <input type="number" asp-for="ValorEsperadoNum" placeholder="Valor">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el valor</b>
                                    <span asp-validation-for="ValorEsperadoNum" class="text-danger"></span>
                                </label>
                            </section>
                        </div>
                        <div class="col-lg-12" hidden id="divTexto">
                            <section class="col col-lg-12">
                                <label class="label">Valor</label>
                                <label class="input">
                                    <i class="icon-append fa fa-pencil-square-o"></i>
                                    <input type="text" asp-for="ValorEsperado" placeholder="Valor">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el valor</b>
                                    <span asp-validation-for="ValorEsperado" class="text-danger"></span>
                                </label>
                            </section>
                        </div>
                        <div id="divRango" hidden class="col-lg-12">
                            <section class="col col-6">
                                <label class="label">Rango m&iacute;nimo</label>
                                <label class="input">
                                    <i class="icon-append fa fa-pencil-square-o"></i>
                                    <input type="text" asp-for="RangoMinimo" placeholder="Rango mínimo">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el rango mínimo</b>
                                    <span asp-validation-for="RangoMinimo" class="text-danger"></span>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Rango m&aacute;ximo</label>
                                <label class="input">
                                    <i class="icon-append fa fa-pencil-square-o"></i>
                                    <input type="text" asp-for="RangoMaximo" placeholder="Rango máximo">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el rango máximo</b>
                                    <span asp-validation-for="RangoMaximo" class="text-danger"></span>
                                </label>
                            </section>
                        </div>

                </fieldset>
                <footer>
                    <button type="submit" id="btn-guardar" class="btn btn-primary">
                        Guardar
                    </button>
                </footer>
            </form>

        </div>
    </div>
    <div class="col-sm-5 margin-top-0">
        <div class="well col-sm-12 no-padding">
            <div class="col col-sm-12">

                <div class="col-sm-12 margin-bottom-10 margin-top-10 product-content product-wrap clearfix">
                    <legend>Producto seleccionado</legend>
                    <div class="product-deatil col col-lg-12 text-align-left JustifyFull">
                        <h4 class="name">
                            <b>
                                <a href="#" id="descripcionproducto">
                                  C&oacute;digo:  @Model.Producto.CodigoProducto
                                </a>
                            </b>
                        </h4>
                        <h4 class="name">
                            <b>
                                <a href="#" id="descripcionproducto">
                                    @Model.Producto.DescripcionProducto
                                </a>
                            </b>
                        </h4>
                        <h5 class="name">
                            <a href="#" id="observacionproducto">
                                @Model.Producto.ObservacionProducto
                            </a>
                        </h5>
                    </div>
                    <br />
                    <div class="col col-lg-12 text-align-center">
                        <p class="price-container col-lg-4 margin-top-10 margin-bottom-10">
                            <span>Clasificaci&oacute;n:</span>
                            <br />
                            <span id="clasificacionproducto"> @Model.Producto.ClaseProducto.ClaseDescripcion</span>
                        </p>
                        <p class="price-container col-lg-4 margin-top-10 margin-bottom-10">
                            <span>Grado:</span><br />
                            <span id="gradoproducto"> @Model.Producto.Grado</span>
                        </p>

                        <p class="price-container col-lg-4 margin-top-10 margin-bottom-10">
                            <span>Di&aacute;metro:</span>
                            <br />
                            <span id="diametroproducto"> @Model.Producto.Nominal</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-colorbutton="false" data-widget-editbutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Listado de especificaciones </h2>

            </header>
            <div>
                <div class="jarviswidget-editbox">
                </div>
                <div class="widget-body no-padding">
                    <table id="dt_basic" data-page-length="10" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="phone" style="text-align:center">Especificaci&oacute;n</th>
                                <th data-hide="phone" style="text-align:center"> Valor esperado</th>
                                <th data-hide="phone" style="text-align:center"> M&iacute;nimo</th>
                                <th data-hide="phone" style="text-align:center"> M&aacute;ximo</th>
                                <th style="text-align:center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductoEspecificacion)
                            {
                                <tr>
                                    <td>
                                        <p class="JustifyFull">@item.Especificacion.Descripcion</p>
                                    </td>

                                    <td>
                                        <p class="JustifyFull">@item.ValorEsperado @item.ValorEsperadoNum </p>
                                    </td>
                                    <td>
                                        @{ 
                                            var RangoMinimo = string.Format("{0:0.00000}", @item.RangoMinimo);
                                        }
                                        <p class="pull-right">@RangoMinimo</p>
                                    </td>
                                    <td>
                                        @{
                                            var RangoMaximo = string.Format("{0:0.00000}", @item.RangoMaximo);
                                        }
                                        <p class="pull-right">@RangoMaximo</p>
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Editar", "EditarEspecificacion", new { id = item.ProductoEspecificacionId }, new { onclick = "cargando();" }) <br />*@
                                        @Html.ActionLink("Eliminar", "DeleteEspecificacion", new { id = item.ProductoEspecificacionId }, new { onclick = "return confirm('Desea eliminar el registro... ?');" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
    </div>
</div>


<!-- /.modal -->
@section Scripts {

    <script type="text/javascript">

        mostrarElementos();

        $("#EspecificacionId").change(function () {

            mostrarElementos()

        });

        function mostrarElementos()
        {
            mostrarLoadingPanel("content", "");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TipoMaterial")',
                dataType: 'json',
                data: { id:$("#EspecificacionId").val() },
                success: function (data) {
                    $("#divTipo").text("Tipo de especificación:   "+data.tipoEspecificacion);
                    if (data.tipoEspecificacion == "Texto") {
                        $("#divTexto").show();
                        $("#divNumero").hide();
                        $("#divRango").hide();
                        @Model.ValorEsperado;
                        @Model.ValorEsperadoNum;
                        @Model.RangoMaximo;
                        @Model.RangoMinimo


                        $("#ValorEsperado").prop('disabled', false);
                        $("#ValorEsperadoNum").prop('disabled', true);
                        $("#RangoMaximo").prop('disabled', true);
                        $("#RangoMinimo").prop('disabled', true);
                       
                        return;
                    }
                    if (data.tipoEspecificacion == "Rango") {
                        $("#divTexto").hide();
                        $("#divNumero").hide();
                        $("#divRango").show();

                        $("#ValorEsperado").prop('disabled', true);
                        $("#ValorEsperadoNum").prop('disabled', true);
                        $("#RangoMaximo").prop('disabled', false);
                        $("#RangoMinimo").prop('disabled', false);
                        return;
                    }
                    if (data.tipoEspecificacion == "Bit") {
                        $("#divTexto").hide();
                        $("#divNumero").hide();
                        $("#divRango").hide();

                        $("#ValorEsperado").prop('disabled', true);
                        $("#ValorEsperadoNum").prop('disabled', true);
                        $("#RangoMaximo").prop('disabled', true);
                        $("#RangoMinimo").prop('disabled', true);
                        return;
                    }
                    if (data.tipoEspecificacion == "Número") {
                        $("#divTexto").hide();
                        $("#divNumero").show();
                        $("#divRango").hide();

                        $("#ValorEsperado").prop('disabled', true);
                        $("#ValorEsperadoNum").prop('disabled', false);
                        $("#RangoMaximo").prop('disabled', true);
                        $("#RangoMinimo").prop('disabled', true);
                        return;
                    }

                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    mostrarNotificacion("Error", "El análisis no se ha podido insertar.")
                    location.href = '@Url.Action("Index")';
                }
            });
        }


        /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

        pageSetUp();

        /*
         * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
         * eg alert("my home function");
         *
         * var pagefunction = function() {
         *   ...
         * }
         * loadScript("/js/plugin/_PLUGIN_NAME_.js", pagefunction);
         *
         */

        // PAGE RELATED SCRIPTS

        // pagefunction
        var pagefunction = function () {
            //console.log("cleared");

            /* // DOM Position key index //

                l - Length changing (dropdown)
                f - Filtering input (search)
                t - The Table! (datatable)
                i - Information (records)
                p - Pagination (paging)
                r - pRocessing
                < and > - div elements
                <"#id" and > - div with an id
                <"class" and > - div with a class
                <"#id.class" and > - div with an id and class

                Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
            $("div.toolbar")
                .html(
                    '<div class="text-right"><img src="/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change',
                function () {

                    otable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();

                });
        };

        // load related plugins

        loadScript("/js/plugin/datatables/jquery.dataTables.min.js",
            function () {
                loadScript("/js/plugin/datatables/dataTables.colVis.min.js",
                    function () {
                        loadScript("/js/plugin/datatables/dataTables.tableTools.min.js",
                            function () {
                                loadScript("/js/plugin/datatables/dataTables.bootstrap.min.js",
                                    function () {
                                        loadScript("/js/plugin/datatable-responsive/datatables.responsive.min.js",
                                            pagefunction);
                                    });
                            });
                    });
            });


    </script>
}


