@model SistemaCalidad.Models.Analisis
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "CREATE";
}
@section Migas{
    <li><a asp-action="Index" onclick="cargando()">An&aacute;lisis</a></li>
    <li class="active">Crear </li>
}

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 margin-top-0">
            <h1 class="page-title text-align-center txt-color-blueDark">
                <b>   &nbsp;</b>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 margin-top-0">
            <ul id="sparks">
                <li class="sparks-info">
                    <a class="btn btn-primary" onclick="cargando()" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar </a>
                </li>
            </ul>
        </div>
        @{var user = await UserManager.FindByEmailAsync(User.Identity.Name);}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="content" class="well no-padding">
                <form id="attributeForm" novalidate="novalidate" class="smart-form client-form">
                    <header>
                        <b> @ViewData["accion"] An&aacute;lisis </b>
                        <b class="text-success pull-right" id="totalAnalisis"></b>

                    </header>
                    <fieldset>
                        <input asp-for="AnalisisId" type="hidden" />
                        <section>
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        </section>

                        <div class="row col col-lg-12">
                            <section class="col-lg-12">
                                <label class="label">Responsable: <b> @user.Name  @user.LastName</b></label>
                                <hr />
                            </section>
                        </div>
                        <div class="col col-lg-12 margin-top-10">
                            <section class=" col col-lg-3">
                                <label class="label">Fecha:</label>
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="datetime" asp-for="FechaAnalisis" placeholder="Ingrese la fecha" class="datepicker" data-dateformat="dd/mm/yy">
                                    <b class="tooltip tooltip-bottom-right">Ingrese la fecha</b>
                                    <span id="mFechaAnalisis" class="text-danger"></span>
                                </label>
                            </section>
                            <section class="col col-lg-3">
                                <label class="label">Turno:</label>
                                <div class="input">
                                    <select asp-for="Turno" class="form-control select2">
                                        <option value="1">&nbsp;1</option>
                                        <option value="2">&nbsp;2</option>
                                        <option value="3">&nbsp;3</option>
                                    </select>
                                    <span id="mTurno" class="text-danger"></span>
                                </div>
                            </section>

                            <section class="col col-lg-3">
                                <label class="label">Temperatura (℃):</label>
                                <label class="input">
                                    <input type="number" asp-for="Temperatura" placeholder="Ingrese la temperatura">
                                    <b class="tooltip tooltip-bottom-right">Ingrese la temperatura (℃)</b>
                                    <span id="mTemperatura" class="text-danger"></span>
                                </label>
                            </section>
                            <section class="col col-lg-3">
                                <label class="label">M&aacute;quina:</label>
                                <div class="input">
                                    <select asp-for="MaquinaId" class="form-control select2" asp-items="ViewBag.MaquinaId"></select>
                                    <span id="mMaquinaId" class="text-danger"></span>
                                </div>
                            </section>

                        </div>
                        <div class="col col-lg-12 margin-top-10">
                            <section class="col col-lg-3">
                                <label class="label">N&uacute;mero de orden:</label>
                                <label class="input">
                                    <input type="text" asp-for="NumeroOrden" onBlur="cantidadanalisis()" placeholder="Ingrese el número de orden">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el n&uacute;mero de orden</b>
                                    <span id="mNumeroOrden" class="text-danger"></span>
                                </label>
                            </section>

                            <section class="col col-lg-3">


                                <div id="cantidadanalisisrealizados">

                                    <div class="col col-lg-5">

                                        <label class="label">Aprobado:</label>
                                        <label class="label  text-align-center alert alert-success fade in">0</label>

                                    </div>
                                    <div class="col col-lg-5">

                                        <label class="label text-align-center text-warning">No aprobado:</label>
                                        <label class="label text-align-center alert alert-danger">0</label>

                                    </div>
                                </div>
                            </section>
                            <section class="col col-lg-3">
                                <label class="label"># Rollo:</label>
                                <label class="input">
                                    <input type="number" asp-for="Rollo" placeholder="Ingrese el # de rollo">
                                    <b class="tooltip tooltip-bottom-right">Ingrese el # de rollo</b>
                                    <span id="mRollo" class="text-danger"></span>
                                </label>
                            </section>

                            <section class="col col-lg-3">
                                <label class="label">Cliente:</label>
                                <div class="input">
                                    <select asp-for="ClienteId" class="form-control select2" asp-items="ViewBag.ClienteId"></select>
                                    <span id="mClienteId" class="text-danger"></span>
                                </div>
                            </section>

                        </div>

                        <div class="col col-lg-12 margin-top-10">




                            <section class="col col-lg-4">
                                <label class="label">Producto:</label>
                                <div class="input">
                                    <select asp-for="ProductoId" class="select2" asp-items="ViewBag.ProductoId">
                                        <option value="0" selected="selected">--Seleccione el producto--</option>
                                    </select>
                                    <span id="mProductoId" class="text-danger"></span>
                                </div>

                            </section>

                        </div>

                        <div class="col col-lg-12 margin-top-10" id="detalleproducto" hidden="hidden">
                            <section class="col col-lg-12">
                                <div class="col col-lg-12 product-content product-wrap clearfix">
                                    <div class="col col-md-12 col col-sm-12 col col-xs-12 col col-lg-12">
                                        <div class="product-deatil col col-lg-12 text-align-left JustifyFull">
                                            <h4 class="name">
                                                <b>
                                                    <a href="#" id="descripcionproducto">

                                                    </a>
                                                </b>
                                            </h4>
                                            <h5 class="name">
                                                <a href="#">
                                                </a>
                                            </h5>
                                        </div>
                                        <br />
                                        <section class="col col-lg-12 text-align-center">
                                            <p class="price-container col-lg-4 margin-top-10 margin-bottom-10">
                                                <span>Clasificaci&oacute;n:</span>
                                                <br />
                                                <span id="clasificacionproducto"></span>
                                            </p>
                                            <p class="price-container col-lg-4 margin-top-10 margin-bottom-10">
                                                <span>Grado:</span><br />
                                                <span id="gradoproducto"></span>
                                            </p>

                                            <p class="price-container col-lg-4 margin-top-10 margin-bottom-10">
                                                <span>Di&aacute;metro:</span>
                                                <br />
                                                <span id="diametroproducto"></span>
                                            </p>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col col-lg-12">
                            
                            <section class="col col-lg-12">
                                <label class="label">Observaciones del producto</label>
                                <label class="textarea">
                                    <textarea rows="3" readonly placeholder="Observaciones" id="observacionproducto"></textarea>
                                </label>
                            </section>
                        </div>

                        <div class="col col-lg-12 margin-top-10">
                            <section class="col col-lg-5">
                                <label class="label">Tipo de material:</label>
                                <div class="input">
                                    <select class="select2" id="selectTipoMaterial" asp-items="ViewBag.TipoMaterialId">
                                        <option value="0" selected="selected">--Seleccione el tipo de material--</option>
                                    </select>
                                </div>
                            </section>
                            <section class="col col-lg-5">
                                <label class="label">Colada | INA/INZ | SAE:</label>
                                <div class="input">
                                    <select class="form-control" id="selectMaterial">
                                        <option value="0" selected="selected">--Seleccione el material--</option>
                                    </select>
                                </div>
                            </section>
                            <section class="col col-lg-2 margin-top-10">

                                <button type="button" title="Adicionar material" onclick="adicionarmaterial()" class="btn btn-primary btn-circle btn-lg">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </section>

                        </div>
                        <section id="tipomaterialadicionado" class="col col-lg-12" hidden="hidden">
                            <section class="col col-sm-12 col col-md-12 col col-lg-12">
                                <div class="panel-group smart-accordion-default" id="accordion">

                                </div>
                            </section>
                        </section>
                        <section id="mensajeexistetematerial" hidden="hidden" class="col col-lg-12">
                            <section class=" col col-lg-12">
                                <div class="alert alert-danger fade in">
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>Error!</strong>Ya ha insertado un c&oacute;digo para el tipo de material seleccionado.
                                </div>
                            </section>
                        </section>

                        <section id="mensajecompletematerial" hidden="hidden" class="col col-lg-12">
                            <section class=" col col-lg-12">
                                <div class="alert alert-danger fade in">
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>Error!</strong> Debe seleccionar el c&oacute;digo del material.
                                </div>
                            </section>
                        </section>

                        <section id="mensajeseleccionarproducto" hidden="hidden" class="col col-lg-12">
                            <section class=" col col-lg-12">
                                <div class="alert alert-danger fade in">

                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>Error!</strong> Debe seleccionar el Producto.
                                </div>
                            </section>
                        </section>

                        <section id="especificacionesgenerales" hidden="hidden" class="col col-lg-12">
                            <legend>Especificaciones generales</legend>
                            <section class="col col-lg-12 margin-top-10">
                                <table id="tablaespecificacionesgenerales" class="table table-bordered table-striped" style="clear: both"></table>
                            </section>
                        </section>

                        <section class=" col col-lg-12 margin-top-5">
                            <section id="mensaj           eseleccionarproducto" hidden="hidden" class="col col-lg-12">
                                <section class=" col col-lg-12">
                                    <div class="alert alert-danger fade in">

                                        <i class="fa-fw fa fa-times"></i>
                                        <strong>Error!</strong> Debe seleccionar el producto.
                                    </div>
                                </section>
                            </section>

                            <section id="mensajeseleccionartodofiltar" hidden="hidden" class="col col-lg-12">
                                <section class=" col col-lg-12">
                                    <div class="alert alert-danger fade in">
                                        <i class="fa-fw fa fa-times"></i>
                                        <strong>Error!</strong> Debe haber adicionado al menos un tipo de material.
                                    </div>
                                </section>
                            </section>

                            <section class="col col-lg-12">
                                <legend></legend>
                                <div class="col col-lg-5">

                                </div>
                                <div class="col col-lg-5 margin-top-10">
                                    <button type="button" id="btn-guardar" title="Filtrar" onclick="filtrar()" class="btn btn-primary btn-lg">
                                        <i class="fa fa-check fa-lg"></i> Ejecutar An&aacute;lisis
                                    </button>
                                </div>
                            </section>
                        </section>

                        <div id="divdtanalisis" class="row col col-lg-12" hidden="hidden">
                            <div class=" col col-sm-12 margin-bottom-10">
                                <div class="well  margin-top-5 margin-bottom-5">
                                    <table id="dtanalisis" class="table table-striped table-forum"></table>
                                </div>
                            </div>
                        </div>


                        <div class="col col-lg-12">
                            <section class="col col-lg-12">
                                <label class="label">Observaciones del análisis</label>
                                <label class="textarea">
                                    <textarea rows="3" asp-for="Observaciones" placeholder="Observaciones"></textarea>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <a onclick="guardar()" id="createAnalisis" hidden="hidden" class="btn btn-primary" title="Guardar">
                            Guardar
                        </a>
                        <a asp-controller="Analisis" onclick="cargando()" asp-action="Index" class="btn btn-default"><strong> Cancelar </strong></a>
                    </footer>
                </form>

            </div>
        </div>
    </div>
<!-- /.modal -->
@section Scripts {


    <script type="text/javascript">

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        //jQuery(document).on('keydown', '#NumeroOrden', function (ev) {
        //    if (ev.which === 13) {
        //        // Will change backgroundColor to blue as example
        //        cantidadanalisis();

        //        // Avoid form submit
        //        return false;
        //    }
        //});

        $(function ()
        {
            cantidadanalisis();
        });

        var listamateriales = [];
        var listaespecificaciones = [];

        $("#createAnalisis").hide();

        function cantidadanalisis()
        {
            mostrarLoadingPanel("content", "");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CantidadAnalisisRealizados","Analisis")',
                dataType: 'json',
                data: { numeroOrden: $("#NumeroOrden").val() },
                success: function (data) {

                    document.getElementById("cantidadanalisisrealizados").innerHTML = "";
                    $("#cantidadanalisisrealizados").html = "";

                    var newTable = "<div id='cantidadanalisisrealizados'>";
                    newTable += "<div class='col col-lg-5'>";
                    newTable += "<label class='label text-align-center'>Aprobado:</label>";
                    newTable += "<label class='label text-align-center alert alert-success'>" + data.cumplidos + "</label>";
                    newTable += " </div>";
                    newTable += "<div class='col col-lg-5'>";
                    newTable += "<label class='label text-align-center'>No aprobado:</label>";
                    newTable += "<label class='label text-align-center alert alert-danger'>" + data.inCumplidos + "</label>";
                    newTable += " </div>";
                    newTable += " </div>";
                    document.getElementById("cantidadanalisisrealizados").innerHTML = newTable;

                    document.getElementById("totalAnalisis").innerHTML = "";
                    var newTable1 = " <b  id='totalAnalisis' class='text-success pull-right'>";
                    newTable1 += "# análisis realizados: "+ data.total;
                    newTable1 += " </b>";
                    document.getElementById("totalAnalisis").innerHTML = newTable1;
                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });

        };



        $("#selectMaterial").change(function ()
        {
            $("#mensajecompletematerial").hide();
            $("#mensajeexistetematerial").hide();
            $("#mensajeseleccionartodofiltar").hide();

        });



      function filtrar()
          {
            $("#mensajecompletematerial").hide();
            $("#mensajeexistetematerial").hide();
            var ProductoId = $("#ProductoId").val();

            if (ProductoId==0) {
                $("#mensajeseleccionarproducto").show();
                return;
            }

            if (listamateriales.length == 0) {

                $("#mensajeseleccionartodofiltar").show();
                document.getElementById("dtanalisis").innerHTML = "";
                return;
            }

            mostrarLoadingPanel("content", "");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ListaEspecificaciones","Analisis")',
            dataType: 'json',
            data: { ProductoId: ProductoId, listamateriales:listamateriales },
            success: function (data) {
                listaespecificaciones = null;

                $("#divdtanalisis").show();
                $("#createAnalisis").show();

                listaespecificaciones = [];
                document.getElementById("dtanalisis").innerHTML = "";
                var newTable = "<table id=dtanalisis class=table table-striped table-forum>";
                newTable += "<thead>";
                newTable += "<tr>";
                newTable += "<th class='text-center hidden-xs hidden-sm' >Descripción</th>";
                newTable += "<th class='text-center hidden-xs hidden-sm' >Valor</th>";
                newTable += "<th class='text-center hidden-xs hidden-sm' >Mínimo</th>";
                newTable += "<th class='text-center hidden-xs hidden-sm' >Máximo</th>";
                newTable += "<th class='text-center hidden-xs hidden-sm' >Valor</th>";
                newTable += "</tr>";
                newTable += "</thead>";
                newTable += "<tbody>";

                for (var i = 0; i < data.length; i++) {
                    if (data[i].analisis == true) {

                        var EspecificacionId = data[i].especificacionId;
                        var Resultado = data[i].valorMaterial;
                        if (data[i].tipo == "Texto")
                        {
                            var RangoReferenciaActual = data[i].valorEsperadoProducto;
                        };
                        if (data[i].tipo == "Número") {
                            var RangoReferenciaActual = data[i].valorEsperadoNumProducto;
                        };
                        if (data[i].tipo == "Rango") {
                            var RangoReferenciaActual = data[i].rangoMinimoProducto + "|" + data[i].rangoMaximoProducto;
                        };
                        if (data[i].tipo == "Bit") {
                            var RangoReferenciaActual = "CUMPLE /   NO CUMPLE";
                        };
                       
                        var rangoMinimoProducto = data[i].rangoMinimoProducto;
                        var rangoMaximoProducto = data[i].rangoMaximoProducto;
                        var valorEsperadoProducto = data[i].valorEsperadoProducto;
                        var valorEsperadoNumProducto = data[i].valorEsperadoNumProducto;
                        var Tipo = data[i].tipo;
                        var Aprobado = data[i].cumple;

                        listaespecificaciones.push({ EspecificacionId, valorEsperadoProducto, valorEsperadoNumProducto, Tipo, rangoMinimoProducto, rangoMaximoProducto, Resultado, Aprobado, RangoReferenciaActual });



                        var minimo = (data[i].rangoMinimoProducto == null ? null : data[i].rangoMinimoProducto);
                        var maximo = (data[i].rangoMaximoProducto == null ? null : data[i].rangoMaximoProducto);

                        if (data[i].tipo == "Texto") {
                            newTable += "<tr id='fila_" + data[i].especificacionId + "'  class='text-danger' >";
                            newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-down fa-2x text-danger' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                            newTable += "<td id='valoresperado_" + data[i].especificacionId + "' class='text-center' >" + data[i].valorEsperadoProducto + "</td>";
                            newTable += "<td class='text-center' ></td>";
                            newTable += "<td class='text-center'></td>";
                            newTable += "<td class='text-center' style='width: 40px;'><input onkeyup='cambiotexto(" + data[i].especificacionId + ")' class='grado' id='valor_" + data[i].especificacionId + "' type='text' value='Ingrese el Texto'></td>";
                            newTable += "</tr>";
                        }


                        if (data[i].tipo == "Número") {
                            newTable += "<tr id='fila_" + data[i].especificacionId + "'  class='text-danger' >";
                            newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-down fa-2x text-danger' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                            newTable += "<td id='valoresperadonum_" + data[i].especificacionId + "' class='text-center' >" + data[i].valorEsperadoNumProducto + "</td>";
                            newTable += "<td class='text-center' ></td>";
                            newTable += "<td class='text-center'></td>";
                            newTable += "<td class='text-center' style='width: 40px;'><input onkeyup='cambionumero(" + data[i].especificacionId + ")' class='grado' id='valor_" + data[i].especificacionId + "' type='numeric' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                            newTable += "</tr>";
                        }

                        if (data[i].tipo == "Bit") {
                            newTable += "<tr id='fila_" + data[i].especificacionId + "'  class='text-success' >";
                            newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                            newTable += "<td class='text-center' >" + data[i].valorEsperadoProducto + "</td>";
                            newTable += "<td class='text-center' ></td>";
                            newTable += "<td class='text-center'></td>";
                            newTable += "<td class='text-center'> <select onchange='cambiocombo(" + data[i].especificacionId + ")' id= 'valor_" + data[i].especificacionId + "' class='grado form-control'>";
                            newTable += " <option class='text-success' value='CUMPLE' selected='selected'>CUMPLE</option>";
                            newTable += " <option class='text-danger' value='NO CUMPLE'>NO CUMPLE</option>";
                            newTable += "</select></td> ";
                            newTable += "</tr>";
                        }


                        if (data[i].tipo == "Rango")
                        {
                            if (minimo == null && maximo != null)
                            {
                                minimo = "    ";
                                if (data[i].valorMaterial <= maximo) {
                                    newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-success' >";
                                    newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                    newTable += "<td class='text-center'></td>";
                                    newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                    newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                    if (data[i].editable == false) {
                                        newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                    }
                                    else {
                                        newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                    }
                                    newTable += "</tr>";
                                }
                                else {
                                    newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-danger' >";
                                    newTable += "<td  class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-down fa-2x text-danger' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                    newTable += "<td class='text-center'></td>";
                                    newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                    newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                    if (data[i].editable == false) {
                                        newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                    }
                                    else {
                                        newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                    }
                                    newTable += "</tr>";
                                }
                                minimo = null;

                            };

                            if (maximo == null && minimo != null) {
                                maximo = "    ";
                                if (data[i].valorMaterial >= minimo) {
                                    newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-success' >";
                                    newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                    newTable += "<td class='text-center'></td>";
                                    newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                    newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                    if (data[i].editable == false) {
                                        newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                    }
                                    else {
                                        newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                    }
                                    newTable += "</tr>";
                                }
                                else {
                                    newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-danger' >";
                                    newTable += "<td  class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-down fa-2x text-danger' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                    newTable += "<td class='text-center'></td>";
                                    newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                    newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                    if (data[i].editable == false) {
                                        newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                    }
                                    else {
                                        newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                    }
                                    newTable += "</tr>";
                                }
                                maximo = null;

                            };

                            if (maximo != null && minimo != null) {
                                if (minimo <= data[i].valorMaterial && data[i].valorMaterial <= maximo) {
                                newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-success' >";
                                newTable += "<td class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-up fa-2x text-success' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                newTable += "<td class='text-center'></td>";
                                newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                if (data[i].editable == false) {
                                    newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                }
                                else {
                                    newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                }
                                newTable += "</tr>";
                            }
                            else {
                                newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-danger' >";
                                newTable += "<td  class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-down fa-2x text-danger' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                newTable += "<td class='text-center'></td>";
                                newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                if (data[i].editable == false) {
                                    newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                }
                                else {
                                    newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                }
                                newTable += "</tr>";
                            }
                            };

                            if (minimo == null && maximo == null)
                            {
                                maximo = "    ";
                                minimo = "    ";
                                    newTable += "<tr id='fila_" + data[i].especificacionId + "' class='text-danger' >";
                                    newTable += "<td  class='text-left' ><i id='icono_" + data[i].especificacionId + "' class='glyphicon glyphicon-thumbs-down fa-2x text-danger' ></i >" + " &nbsp; &nbsp;" + data[i].descripcion + "</td > ";
                                    newTable += "<td class='text-center'></td>";
                                    newTable += "<td id='minimo_" + data[i].especificacionId + "' class='text-center' >" + minimo + "</td>";
                                    newTable += "<td id='maximo_" + data[i].especificacionId + "' class='text-center'>" + maximo + "</td>";
                                    if (data[i].editable == false) {
                                        newTable += "<td class='text-center' style='width: 40px;'><input readonly class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";
                                    }
                                    else {
                                        newTable += "<td class='text-center' style='width: 40px;'><input class='grado' onkeyup='cambio(" + data[i].especificacionId + ")' id='valor_" + data[i].especificacionId + "' type='number' value=" + parseFloat(data[i].valorMaterial) + "></td>";

                                    }
                                    newTable += "</tr>";
                            };
                           
                           
                        }
                    }

                };

                newTable += "</tbody>";
                newTable += "</table>";
                document.getElementById("dtanalisis").innerHTML = newTable;
            }, complete: function (data) {
                $("#content").waitMe("hide");
            },
                error: function (ex) {
                alert('Failed to retrieve data.' + ex);
            }
        });
          
        }

        $("#FechaAnalisis").click(function () {
            $("#mFechaAnalisis").hide();
        });
        $("#Turno").click(function () {
            $("#mTurno").hide();
        });
        $("#Temperatura").click(function () {
            $("#mTemperatura").hide();
        });
        $("#MaquinaId").click(function () {
            $("#mMaquinaId").hide();
        });
        $("#NumeroOrden").click(function () {
            $("#mNumeroOrden").hide();
        });
        $("#ClienteId").click(function () {
            $("#mClienteId").hide();
        });
        $("#Rollo").click(function () {
            $("#mRollo").hide();
        });


        function ValidarFormulario()
        {
            var salida = true;

            if ($("#FechaAnalisis").val() == "") {
                $("#mFechaAnalisis").text("Debe ingresar la Fecha");
                $("#mFechaAnalisis").show();
                $("#FechaAnalisis").focus();
                salida = false;
            }
            if ($("#Turno").val() ==0) {
                $("#mTurno").text("Debe ingresar el Turno");
                $("#mTurno").text("Debe ingresar el Turno");
                $("#Turno").focus();
                salida = false;
            }
            if ($("#Temperatura").val() == "") {
                $("#mTemperatura").text("Debe ingresar la Temperatura");
                $("#mTemperatura").show();
                $("#Temperatura").focus();
                salida = false;
            }
            if ($("#MaquinaId").val() ==0) {
                $("#mMaquinaId").text("Debe ingresar la Máquina");
                $("#mMaquinaId").show();
                $("#MaquinaId").focus();
                salida = false;
            }
            if ($("#NumeroOrden").val() =="") {
                $("#mNumeroOrden").text("Debe ingresar el Número de Orden");
                $("#mNumeroOrden").show();
                $("#NumeroOrden").focus();
                salida = false;
            }
            if ($("#ClienteId").val() == 0) {
                $("#mClienteId").text("Debe ingresar el Cliente");
                $("#mClienteId").show();
                $("#ClienteId").focus();
                salida = false;
            }
            if ($("#Rollo").val() == "") {
                $("#mRollo").text("Debe ingresar el Rollo");
                $("#mRollo").show();
                $("#Rollo").focus();
                salida = false;
            }
            return salida;
        }

        var analisisD = null;
        var listaMaterialesPost = new Array();

        function guardar()
        {


            mostrarLoadingPanel("content", "");

            if (ValidarFormulario() == false) {
                event.preventDefault();
                $("#content").waitMe("hide");
                return;
            }

            for (var i = 0; i < listaespecificaciones.length; i++) {

                var valor = $("#valor_" + listaespecificaciones[i].EspecificacionId).val();
                var tipo = listaespecificaciones[i].Tipo;

                if (tipo=="Texto") {

                    listaespecificaciones[i].Resultado = valor;
                    if (valor == listaespecificaciones[i].valorEsperadoProducto) {

                        listaespecificaciones[i].Aprobado = true;
                    }
                    else
                    {
                        listaespecificaciones[i].Aprobado = false;
                    }

                }

                if (tipo == "Número") {

                    listaespecificaciones[i].Resultado = parseFloat(valor);
                    if (parseFloat(valor) == listaespecificaciones[i].valorEsperadoNumProducto) {

                        listaespecificaciones[i].Aprobado = true;
                    }
                    else {
                        listaespecificaciones[i].Aprobado = false;
                    }

                }

                if (tipo == "Rango") {

                    listaespecificaciones[i].Resultado = parseFloat(valor);
                    listaespecificaciones[i].Aprobado = cumple(listaespecificaciones[i].rangoMinimoProducto, listaespecificaciones[i].rangoMaximoProducto, valor)

                }

                if (tipo == "Bit") {
                    listaespecificaciones[i].Resultado = valor;
                    if (valor == "NO CUMPLE") {
                        listaespecificaciones[i].Aprobado = false;

                    } else {
                        if (valor == "CUMPLE") {

                            listaespecificaciones[i].Aprobado = true;
                        }
                    }
                }

                //var valor = $("#valor_" + listaespecificaciones[i].EspecificacionId).val();
                //if (valor == "NO CUMPLE") {
                //    listaespecificaciones[i].Resultado = valor;
                //    listaespecificaciones[i].Aprobado = false;

                //} else {
                //    if (valor == "CUMPLE") {
                //        listaespecificaciones[i].Resultado = valor;
                //        listaespecificaciones[i].Aprobado = true;
                //    }
                //    else {
                //        listaespecificaciones[i].Resultado = parseFloat(valor);
                //        listaespecificaciones[i].Aprobado = cumple(listaespecificaciones[i].rangoMinimoProducto, listaespecificaciones[i].rangoMaximoProducto, valor)
                //    }
                //}
            }

            listaMaterialesPost = [];
            for (var i = 0; i < listamateriales.length; i++) {
                var MaterialId = listamateriales[i].idmaterial
                listaMaterialesPost.push({ MaterialId });
            }

            var FechaAnalisis=  $("#FechaAnalisis").val();
            var Turno=  $("#Turno").val();
            var Temperatura = $("#Temperatura").val();
            var MaquinaId = $("#MaquinaId").val();
            var NumeroOrden = $("#NumeroOrden").val();
            var ClienteId = $("#ClienteId").val();
            var Rollo = $("#Rollo").val();
            var Observaciones = $("#Observaciones").val();
            var AnalisisId = $("#AnalisisId").val();
            var ProductoId = $("#ProductoId").val();
            analisis = null;
            analisis = { FechaAnalisis,ProductoId, Turno, Temperatura, MaquinaId, NumeroOrden, ClienteId, Rollo, Observaciones };



            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create","Analisis")',
                dataType: 'json',
                data: { listaDetalle: listaespecificaciones, analisis: analisis, listaMateriales:listaMaterialesPost },
                success: function (data) {

                    if (data == 1) {
                        mostrarNotificacion("Satisfactorio", "El análisis se ha insertado satisfactoriamente.");
                        location.href = '@Url.Action("Index")';
                        
                    }
                    else {
                        mostrarNotificacion("Error", "El análisis no se ha podido insertar.")
                        
                    }

                }, complete: function (data) {
                    $("#content").waitMe("hide");
                   
                },
                error: function (ex) {
                    mostrarNotificacion("Error", "El análisis no se ha podido insertar.")
                    location.href = '@Url.Action("Index")';
                }
            });
        }

        function cumple(minimo, maximo, valor)
        {

            if (isNaN(minimo) || minimo == null) {
                if (maximo >= valor) {
                    return true;
                }
                else {
                    return false;
                }

            }

            if (isNaN(maximo) || maximo == null) {
                if (minimo <= valor) {
                    return true;
                }
                else {
                    return false;
                }
            }


            if ((minimo <= valor) && (maximo >= valor)) {
                return true;
            }
            else {
                return false;
            }

        }

        function eliminarmaterial(idmaterial)
        {
            $("#divdtanalisis").hide();
            $("#createAnalisis").hide();
            $("#mensajecompletematerial").hide();
            $("#mensajeexistetematerial").hide();
            $("#mensajeseleccionartodofiltar").hide();
            document.getElementById("dtanalisis").innerHTML = "";
            for (var i = 0; i < listamateriales.length; i++)
            {
                if (listamateriales[i].idmaterial == idmaterial) {
                    listamateriales.splice(i, 1);
                    tbdibujaradicionarmaterial();

                    break;
                }

            }
        }

        function tbdibujaradicionarmaterial()
        {
            if (listamateriales.length==0) {
                document.getElementById("accordion").innerHTML = "";
            }

            if (listamateriales.length > 0) {

                document.getElementById("accordion").innerHTML = "";
                var newAcordion = " <div class=panel-group smart-accordion-default id=accordion >";
                for (var i = 0; i < listamateriales.length; i++) {
                    newAcordion += " <div class='panel panel-default'>";
                    newAcordion += " <div class='panel-heading'>";
                    newAcordion += " <h4 class='panel-title'>";
                    newAcordion += "<a data-toggle='collapse' class='' data-parent='#accordion' href='#" + listamateriales[i].idtipomaterial + "'><i class='fa fa-fw fa-plus-circle txt-color-green'></i> <i class='fa fa-fw fa-minus-circle txt-color-red'></i><b> " + listamateriales[i].tipomaterial + " : " + listamateriales[i].material + "</b><button class='pull-right btn btn-danger form-group' title ='Eliminar' onclick='eliminarmaterial(" + listamateriales[i].idmaterial + ")' >&nbsp;&nbsp;&nbsp;&nbsp;Eliminar&nbsp;&nbsp;&nbsp;&nbsp;    </button></a>";
                    newAcordion += " <div id='" + listamateriales[i].idtipomaterial + "' class=''>";
                    newAcordion += " <div class='panel-body no-padding'>";
                    newAcordion += " <table class='table table-bordered table-condensed'>";
                    newAcordion += "<thead>";

                    newAcordion += "<tr>";
                   
                    newAcordion += "</tr>";
                    newAcordion += "</thead>";
                    newAcordion += "<tbody>";
                    for (var y = 0; y < listamateriales[i].lista.length; y++) {
                        newAcordion += "<tr >";
                        newAcordion += "<td class='font-sm' >" + listamateriales[i].lista[y].descripcionEspecificacion + "    :   " + listamateriales[i].lista[y].valorEspecificacion+ "</td > ";
                        newAcordion += "</tr>";
                    };

                    newAcordion += "</tbody>";

                    newAcordion += "</table>";

                    newAcordion += " </div>";

                    newAcordion += " </div>";
                };
                newAcordion += " </div>";
                document.getElementById("accordion").innerHTML = newAcordion;
                $("#tipomaterialadicionado").show();
            }
        }

        function adicionarmaterial()
        {
            $("#divdtanalisis").hide();
            $("#createAnalisis").hide();
            $("#mensajecompletematerial").hide();
            $("#mensajeexistetematerial").hide();
            $("#mensajeseleccionartodofiltar").hide();
            document.getElementById("dtanalisis").innerHTML = "";
            var tipomaterial = $("#selectTipoMaterial option:selected").text();
            var idtipomaterial = $("#selectTipoMaterial").val();
            var material = $("#selectMaterial option:selected").text();
            var idmaterial = $("#selectMaterial").val();

            if (idmaterial == 0 || idtipomaterial==0) {
                $("#mensajecompletematerial").show();
                return;
            }

            for (var i = 0; i < listamateriales.length; i++) {
                if (listamateriales[i].idtipomaterial == idtipomaterial) {
                    $("#mensajeexistetematerial").show();
                    return;
                }
            }

             mostrarLoadingPanel("content", "");
                $.ajax({
                type: 'POST',
                url: '@Url.Action("EspecificacionesGeneralesMaterial","Analisis")',
                dataType: 'json',
                    data: { idmaterial: idmaterial },
                    success: function (data) {
                        listamateriales.push({ idtipomaterial: idtipomaterial, tipomaterial: tipomaterial, idmaterial: idmaterial, material: material, lista: data });
                        tbdibujaradicionarmaterial();
                $("#content").waitMe("hide");
                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                    }
            });
        }

        function cambiocombo(valor) {

            var combo = $("#valor_" + valor).val();
            var maximo = parseFloat($("#maximo_" + valor).text());
            var iconoCumple = "glyphicon-thumbs-up";
            var iconoNoCumple = "glyphicon-thumbs-down";
            var textocumple = "text-success";
            var textonocumple = "text-danger";

            if (combo=="CUMPLE") {
                    $("#fila_" + valor).addClass(textocumple).removeClass(textonocumple);
                    $("#icono_" + valor).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
                }
                else {
                    $("#fila_" + valor).addClass(textonocumple).removeClass(textocumple);
                    $("#icono_" + valor).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
                }
        }

        function cambiotexto(valor) {

            var valoresperado = $("#valoresperado_" + valor).text();
            var valorreal =$("#valor_" + valor).val();
            var iconoCumple = "glyphicon-thumbs-up";
            var iconoNoCumple = "glyphicon-thumbs-down";
            var textocumple = "text-success";
            var textonocumple = "text-danger";

            if ((valoresperado == valorreal)) {
                $("#fila_" + valor).addClass(textocumple).removeClass(textonocumple);
                $("#icono_" + valor).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
            }
            else {
                $("#fila_" + valor).addClass(textonocumple).removeClass(textocumple);
                $("#icono_" + valor).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
            }

        }

        function cambionumero(valor) {

            var valoresperadonum = parseFloat($("#valoresperadonum_" + valor).text());
            var valorreal = parseFloat($("#valor_" + valor).val());
            var iconoCumple = "glyphicon-thumbs-up";
            var iconoNoCumple = "glyphicon-thumbs-down";
            var textocumple = "text-success";
            var textonocumple = "text-danger";

            if ((valoresperadonum == valorreal)) {
                $("#fila_" + valor).addClass(textocumple).removeClass(textonocumple);
                $("#icono_" + valor).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
            }
            else {
                $("#fila_" + valor).addClass(textonocumple).removeClass(textocumple);
                $("#icono_" + valor).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
            }

        }

        function cambio(valor)
        {

            var minimo = parseFloat($("#minimo_" + valor).text());
            var maximo = parseFloat($("#maximo_" + valor).text());

            var valorreal = parseFloat($("#valor_" + valor).val());
            var iconoCumple= "glyphicon-thumbs-up";
            var iconoNoCumple = "glyphicon-thumbs-down";
            var textocumple = "text-success";
            var textonocumple = "text-danger";

            if (isNaN(minimo)) {
                if (maximo >= valorreal) {
                    $("#fila_" + valor).addClass(textocumple).removeClass(textonocumple);
                    $("#icono_" + valor).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
                }
                else {
                    $("#fila_" + valor).addClass(textonocumple).removeClass(textocumple);
                    $("#icono_" + valor).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
                }
                return;
            }

            if (isNaN(maximo)) {
                if (minimo <= valorreal) {
                    $("#fila_" + valor).addClass(textocumple).removeClass(textonocumple);
                    $("#icono_" + valor).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
                }
                else {
                    $("#fila_" + valor).addClass(textonocumple).removeClass(textocumple);
                    $("#icono_" + valor).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
                }
                return;
            }


            if ((minimo <= valorreal) && (maximo >= valorreal)) {
                $("#fila_" + valor).addClass(textocumple).removeClass(textonocumple);
                $("#icono_" + valor).addClass(iconoCumple).addClass(textocumple).removeClass(textonocumple).removeClass(iconoNoCumple);
            }
            else
            {
                $("#fila_" + valor).addClass(textonocumple).removeClass(textocumple);
                $("#icono_" + valor).addClass(iconoNoCumple).addClass(textonocumple).removeClass(textocumple).removeClass(iconoCumple);
            }

        }

        $("#selectTipoMaterial").change(function () {
            $("#mensajecompletematerial").hide();
            $("#mensajeexistetematerial").hide();
            $("#mensajeseleccionartodofiltar").hide();
            mostrarLoadingPanel("content", "");
            $("#selectMaterial").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarMaterialPorTipo","Analisis")',
                dataType: 'json',
                data: { TipoMaterialId: $("#selectTipoMaterial").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#selectMaterial").append('<option value="'
                            + data.materialId + '">'
                            + data.codigoIngreso + '    |   ' + data.identificador + '  |   ' + data.tipoNorma.sae + '</option>');
                    });
                    $("#selectMaterial").select2();
                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });
            return false;
        });


        $("#ProductoId").change(function () {
            $("#divdtanalisis").hide();
            $("#createAnalisis").hide();
            $("#mensajeseleccionartodofiltar").hide();
            document.getElementById("dtanalisis").innerHTML = "";
            $("#mensajeseleccionarproducto").hide();
            mostrarLoadingPanel("content", "");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDatosProducto","Analisis")',
                dataType: 'json',
                data: { ProductoId: $("#ProductoId").val() },
                success: function (data) {
                    $("#detalleproducto").show();
                    $("#descripcionproducto").html(data.descripcionProducto);
                    //$("#observacionproducto").html(data.observacionProducto);id="observacionproducto"
                    document.getElementById("observacionproducto").innerHTML = data.observacionProducto;
                    $("#clasificacionproducto").html(data.claseProducto.claseDescripcion);
                    $("#gradoproducto").html(data.grado);
                    $("#diametroproducto").html(data.nominal);
                }, complete: function (data) {
                    $("#content").waitMe("hide");
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });
            return false;
        });
    </script>
}